body {
  background-color: rgb(224, 224, 224);
  font-family: Franklin Gothic;
  /* font-family: Ubuntu; */
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #838383;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 100px;
}

html {
  scroll-behavior: smooth;
}

#england:hover {
  background-color: black;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: lightblue;
  background-color: transparent;
  text-decoration: none;
}

#mainTitle {
  text-align: center;
  font-size: 250%;
}

#welcomeText {
  font-size: 200%;
}

#myInput {
  border-radius: 3px;
  background-color: white;
  background-color: rgb(224, 224, 224);
  border: none;
  border-bottom: 1px solid rgb(92, 92, 92);
  font-size: 23px;
  font-family: consolas;
  width: 98%;
  padding: 10px;
}

#loginText {
  border: none;
  background-color: rgb(224, 224, 224);
  border-bottom: 1px solid rgb(92, 92, 92);
  text-align: center;
}

.options {
  width: 10%;
}

#image {
  font-size: 170%;
}

#writeSentence {
  font-size: 200%;
}

.optionsBig {
  font-size: 130%;
}

.options {
  a:link, a:visited {
    text-decoration: none;
    color: black;
  }
}

#home {
  font-size: 300%;
}

/* CHECKBOXES START */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin-left: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* When the checkbox is checked, add a blue background
.options input:checked ~ #checkMark1, #checkMark2, #checkMark3 {
  background-color: #2196F3;
}
 */
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#checkMark1, #checkMark2, #checkMark3 {
  height: 18px;
  width: 18px;
  background-color: #eee;
  margin-right: 1%;
}

.button {
  background-color: light-grey;
  border: 1px solid rgb(91, 91, 91);
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(149, 149, 149);
  color: white;
}

#tips {
  font-size: 30px;
  font-weight: bold;
}

#loginText {
  text-align: left;
  padding: 2%;
}

.values {
  width: 20%;
  font-size: 150%;
  font-weight: bold;
}

#tableValues {
  width: 60%;
}

.third {
  width: 33%;
}

#ranking {
  width: 100%;
}

.Top1 {
  font-size: 200%;
  background-color: rgb(255, 215, 0);
}

.Top2 {
  font-size: 160%;
  background-color: rgb(192, 192, 192);
}

.Top3 {
  font-size: 130%;
  background-color: rgb(205, 127, 50);
}

.creditsText {
  font-size: 200%;
}

#div1 {
  font-size: 400px;
}

.main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 0.2fr 0.2fr 0.1fr 0.2fr 0.1fr 0.5fr 0.1fr 1fr 0.5fr;
  grid-template-areas:
    "welcomeText welcomeText loginText loginText loginText opImage"
    "mainTitle mainTitle mainTitle mainTitle mainTitle allOp"
    "writeSentence writeSentence writeSentence writeSentence writeSentence smallOp"
    "inputText inputText inputText inputText inputText smallOp"
    "time values values values values smallOp "
    "keypad keypad keypad keypad nothing smallOp"
    "tips tips tips tips tips smallOp"
    "ranking ranking ranking ranking ranking ranking"
    "home home home home github github";
}

.windows {
  height: 60%;
  width: 35%;
}

.githubImage {
  size: 75%;
  grid-area: github;
  display: grid;
  display: inline-grid;
}

#home {
  margin-top: 10%;
  grid-area: home;
  font-size: 400%;
}

.bigOptions {
  position: relative;
  text-align: center;
  right: 0%;
  transition: 0.2s;
}

.bigOptions:hover {
  right: 5%;
}

.nothing {
  grid-area: nothing;
}

.alloptions {
  grid-area: allOp;
  text-align: center;
}

.values {
  font-size: 180%;
  width: 100%;
  display: flex;
  margin: auto;
  grid-area: values;
  line-height: normal;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  display: inline-block;
}

.time {
  font-size: 325%;
  grid-area: time;
  margin-bottom: 5%;
}

.welcomeText {
  grid-area: welcomeText;
  text-align: left;
  margin-left: 10%;
  margin-top: 2%
}

.optionsImage {
  grid-area: opImage;
  text-align: right;
  padding: 10%;
}

.mainTitle {
  grid-area: mainTitle;
}

#fade1 {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgb(224, 224, 224);
  -webkit-mask-image: linear-gradient(to top, rgb(224, 224, 224), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(224, 224, 224), rgba(0, 0, 0, 0));
}

#fade2 {
  opacity: 95%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgb(246, 244, 244);
  -webkit-mask-image: linear-gradient(to top, rgb(246, 244, 244), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(246, 244, 244), rgba(0, 0, 0, 0));
}

#fade3 {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgb(51, 51, 51);
  -webkit-mask-image: linear-gradient(to top, rgb(51, 51, 51), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(51, 51, 51), rgba(0, 0, 0, 0));
}

#fade4 {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgb(51, 51, 51);
  -webkit-mask-image: linear-gradient(to top, rgb(51, 51, 51), rgba(0, 0, 0, 0)), linear-gradient(to bottom, rgb(51, 51, 51), rgba(0, 0, 0, 0));
}

.div1 {
  grid-area: ranking;
  max-height: 500px;
  font-size: 65%;
  overflow-y: scroll;
}

#table {
  width: 100%;
}

.styleImg {
  width: 20%;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*TODO: make the align work*/
.styleOp {
  margin: 5%;
  width: auto;
}

.styleCheck {
  visibility: hidden;
}

.smallOptions {
  width: 100%;
  height: 100%;
  grid-area: smallOp;
  align-items: center;
  z-index: 2;
  text-align: center;

}



#checkOptionsSmall {
  width: 100%;
  display: block;
  margin-right: auto;
}

.checkOptions {
  padding: auto;
  text-align: center
}

.singleLan {
  text-align: center;
  position: relative;
  font-size: 150%;
  width: 20%;
  align-self: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  top: 10%;
}

.singleLanImg {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

#languageDiv {
  position: relative;
  width: 100%;
  height: 40%;
  margin-top: 0%;
  vertical-align: center;
}

.bigDivLanguage {}

#smallOpStyle {
  position: relative;
  width: 100%;
  height: 200%;
  align-self: center;
  top: 10px;
  padding: 0%;
}

.loginText {
  grid-area: loginText;
  text-align: right;
}

.writeSentence {
  text-shadow: 2px 2px 4px #838383;
  grid-area: writeSentence;
}

.inputText {
  grid-area: inputText;
  vertical-align: middel;
}

.notify {
  grid-area: notify;
}

.keypad {
  grid-area: keypad;
}

.tips {
  grid-area: tips;
}
}

.HTML-keyboard {
  max-width: 1800px;
}

:root {
  /* only used to hold our CSS variables */
  /*change color to change the letters blink color*/
  --blink-color: rgb(130, 130, 130);
  /*change color to change the letters background color*/
  --back-color: rgb(170, 170, 170);
  /*change color to change the letters foreground color*/
  --fore-color: black;
}

.keys::selection {
  background: var(--blink-color);
  // color: not-used;
}

.keys {
  color: var(--fore-color);
  border: 1px solid rgb(45, 45, 45);
  text-align: center;
  width: 100%;
  height: 40px;
  vertical-align: baseline;
  background-color: var(--back-color);
  border-radius: 3px;
  font-family: Franklin Gothic;
}

.keys {
  min-width: 70px;
  width: 100%;
}

.keyPad {
  width: 110%;
}

.º {
  width: 100%;
}

.margin {
  align-items: center;
  margin: auto;
}

.back {
  width: 100%;
}

.bloq {
  width: 110%;
}

.windows {
  height: 60%;
  width: 35%;
}

.space {
  width: 99%;
}
